{% extends 'home.html' %}
{% block apps %}

    <p style="font-size: 24px; position: relative; top: 0px; left: 5%; width:90%;">
        This site is hosted and managed by the Hennig group at the University of Florida. All content is available for public use. If you use our data in your research, we ask that you cite the appropriate references available in the Docs tab.
    </p>
    <p style="font-size: 24px; position: relative; top: 0px; left: 5%; width:90%;">
        Contributors:
        <ul style="font-size: 24px; position: relative; top: 0px; left: 50px; margin-right: 50px;">
            <li>Michael Ashton, University of Florida</li>
            <li>Joshua Gabriel, University of Florida</li>
            <li>Jason Gibson, University of Florida</li>
            <li>Richard Hennig, University of Florida</li>
            <li>Susan Sinnott, Pennsylvania State University</li>
            <li>Kiran Mathew, Lawrence Berkeley National Lab</li>
        </ul>
    </p>

{% endblock %}
