{% extends 'home.html' %}
{% block apps %}
<style>

	/* general page styling and main column */
	html, body
	{
		margin:0;
		padding:0;

	    font:normal normal normal 100%/1.4 georgia, serif;
	}
	main
	{
		display:block;

		width:55%;
		min-width:18em;
		margin:2em auto;
	}

	figure
	{
		display:block;

		margin:1em 0;

		border:1px solid #ccc;
		border-radius:3px;

		background:#eee;
	}

	figure figcaption
	{
		display:block;

		padding:5px 10px 4px 10px;

		border-bottom:1px solid #ccc;
		border-radius:3px 3px 0 0;

		font-weight:bold;

		background:#ddd;
		color:#777;
	}



	pre, pre *
	{
		font:normal normal normal 1em/1.4 monaco, courier, monospace;
	}
	pre
	{
		font-size:0.8em;
	}
	pre, pre code, pre samp
	{
		display:block;
		margin:0;

		cursor:text;
	}
	pre code, pre samp
	{
		/* enforce white-space for IE7 */
		white-space:pre;

		/* enforce word-wrap for mobile safari */
		word-wrap:normal;

		padding:10px;

		-moz-tab-size:4;
		-o-tab-size:4;
		tab-size:4;

		overflow-x:auto;
	}

	/* additional focus rules to provide a visual cue */
	pre [contenteditable]:focus
	{
		border-radius:0 0 3px 0;

		background:#fff;

		outline:none;

		box-shadow:inset 0 1px 4px 1px rgba(0,0,0,0.5);
	}

	pre.line-numbers
	{
		position:relative;
	}
	pre.line-numbers code,
	pre.line-numbers samp
	{
		margin-left:3em;

		border-left:1px solid #ccc;
	}

	pre.line-numbers > div
	{
		display:block;

		position:absolute;
		top:0;
		left:0;

		height:100%;

		border-radius:0 0 0 3px;

		background:#e5e5e5;

		overflow:hidden;

		counter-reset:line;
	}

	pre.line-numbers > div > span
	{
		display:block;
		width:2.5em;
		padding:0 0.5em 0 0;

		text-align:right;

		color:#777;

		overflow:hidden;

		counter-increment:line;
	}
	pre.line-numbers > div > span::before
	{
		content:counter(line);
	}
	pre.line-numbers > div > span:first-child
	{
		margin-top:10px;
	}
	pre.line-numbers > div > span:nth-child(odd)
	{
		background:#dfdfdf;
	}

	@media print
	{
		pre code
		{
			overflow-x:visible;
			white-space:pre-wrap;
		}
		pre.line-numbers div
		{
			display:none;
		}
		pre.line-numbers > code,
		pre.line-numbers > samp
		{
			margin-left:0;
		}
	}



	/* double-up the syntax elements for cross-browser RTF-keystroke support */
	pre b, pre strong
	{
		font-weight:normal;
		color:#039;
	}
	pre u, pre u b, pre u strong
	{
		text-decoration:none;
		color:#083;
	}
	pre i, pre em, pre i *, pre em *, pre i * *, pre em * *
	{
		letter-spacing:-0.1em;
		text-decoration:none;
		font-style:normal;
		color:#c55;
	}
</style>
  <div style="position: relative; left : 5%; width : 90%;">
    <p style="font-size: 24px; position: relative; top: 0px;">
        The MaterialsWeb API is built on the <a style="font-size:24; color: #fcb040" href="https://www.materialsproject.org/open">Materials API (MAPI)</a>.
        The best way to access our database is through the MWRester class implemented in <a style="font-size:24; color: #fcb040" href="https://www.materialsproject.org/open">QuantumML</a>
        as shown below.
      <figure>
          <figcaption>Connecting to materialsweb</figcaption>
                 <pre aria-describedby="example1-description" aria-labelledby="example1-caption"><code
                         contenteditable="true" tabindex="0"
                         spellcheck="false"><b>from</b> quantumML.rest <b>import</b>b> MWRester
<b>with</b> MWRester() <b>as</b> mwr:
    mwr.get_calculation(<u>filter/s</u>)</code></pre>
      </figure>
<hr>
<h1 id="queries">Filters</h1>
      <p> To refine the query results the following filters may be applied</p>
<ul>
<li><strong>band_gap_range</strong><br>Range of bandgaps in <em>eV</em> as a two valued list eg. [1.2, 3.1]  </li>
<li><strong>Formation_energy_range</strong><br>Range of formation energies in <em>meV</em> as two values list eg. [50, 150]</li>
<li><strong>elements</strong><br>List of elements contained in entry eg. [&#39;Na&#39;, &#39;Cl&#39;]<br>note: this will return all entries that contain Na and Cl as well as any other element </li>
<li><strong>space_group_number</strong><br>integer of space group number eg. 5</li>
<li><strong>dimension</strong><br>integer of dimension of material eg. 2</li>
<li><strong>crystal_system</strong><br>crystal system as a string eg. &#39;Tetragonal&#39;  </li>
<p>The below code shows how to apply the filters for a querry:</p>
</ul>
      <figure>
          <figcaption>Applying filters</figcaption>
                 <pre aria-describedby="example1-description" aria-labelledby="example1-caption"><code
                         contenteditable="true" tabindex="0"
                         spellcheck="false"><b>from</b> quantumML.rest <b>import</b>b> MWRester
<b>with</b> MWRester() <b>as</b> mwr:
    mwr.get_calculation(band_gap_range<i>=</i>[<u>1</u>,<u>1.5</u>], formation_energy_range<i>=</i>[<u>124</u>,<u>150</u>])</code></pre>
      </figure>
      <p>This will store the querry as a list of Json response that can be accessed by <i>mwr.results</i>. A single Json response is shown below:</p>
      <figure>
          <figcaption>Json response</figcaption>
                 <pre aria-describedby="example1-description" aria-labelledby="example1-caption"><code
                         contenteditable="true" tabindex="0"
                         spellcheck="false"><b>print</b>(mwr.results[<u>1</u>])

Out:
{'url': 'http://172.16.170.227:7800/rest/calculation/106/',
 'configuration': None,
 'dimension': 2,
 'label': 'mp-700',
 'path': '/var/www/materialsweb/static/database/mp-700',
 'natoms': 4,
 'settings': "{'potentials': [{'name': 'Ge_d', 'xc': 'PBE', 'us': False, 'paw': True}, {'name': 'Se', 'xc': 'PBE', 'us': False, 'paw': True}], 'nbands': 28, 'prec': 'accura', 'istart': 0, 'icharg': 2, 'ispin': 2, 'encut': 500.0, 'nelm': 60, 'nelmin': 2, 'ediff': 1e-06, 'lreal': True, 'nsw': 50, 'ibrion': 2, 'isif': 3, 'potim': 0.5, 'pstress': 0.0, 'ismear': 1, 'sigma': 0.1, 'algo': 'fast', 'lwave': True, 'lcharg': True, 'lvtot': False, 'lorbit': 0, 'ldipol': False, 'idipol': 0, 'epsilon': 1.0}",
 'energy': -10.4702046,
 'energy_pa': -2.61755115,
 'magmom': -0.0001349,
 'magmom_pa': -3.3725e-05,
 'band_gap': 1.2107,
 'is_direct': False,
 'irreducible_kpoints': 42.0,
 'formation_energy': 133.0,
 'attempt': 0,
 'nsteps': 32,
 'converged': True,
 'runtime': None,
 'entry': 'http://172.16.170.227:7800/rest/entry/113/',
 'composition': 'http://172.16.170.227:7800/rest/composition/Ge1%20Se1/',
 'input': 'http://172.16.170.227:7800/rest/structure/325/',
 'output': 'http://172.16.170.227:7800/rest/structure/324/',
 'dos': 'http://172.16.170.227:7800/rest/dos/107/',
 'element_set': ['http://172.16.170.227:7800/rest/elements/Ge/',
  'http://172.16.170.227:7800/rest/elements/Se/']}</code></pre>
      </figure>
      <p>The content of each querry element can be accessed through pythons dictionary syntax as shown below:</p>
      <figure>
          <figcaption>Connecting to materialsweb</figcaption>
                 <pre aria-describedby="example1-description" aria-labelledby="example1-caption"><code
                         contenteditable="true" tabindex="0"
                         spellcheck="false"><b>for</b> results <b>in</b> mwr.results:
                     <b>print</b>(results[<i>'composition'</i>] +<i>'\t Bandgap = '</i> + <b>str</b>(results[<i>'band_gap'</i>])
Out:
Pd120S2			 BandGap = 1.1746
Ge120Se1		 BandGap = 1.2107
Pd120Se2		 BandGap = 1.3964
I220Pt1			 BandGap = 1.4215
I220Pd1			 BandGap = 1.1512
Br320Cr1		 BandGap = 1.4714
Cr120H120O2		 BandGap = 1.0072
Mo120O3			 BandGap = 1.1381</code></pre>
      </figure>

<hr>
<h1>Write files</h1>
      <p>currently there are two methods to write the files from a query. The <i>get_calculation</i> method will store all the entries as a list.
          As a result one can write all of the files from a querry to a directory using the <i>write_all</i> method or write the files of a specific entry
      using the <i>write</i> method:</p>


        and as a result can be interacted with in mostly similar ways to those described in the
        <a style="font-size:24; color: #fcb040" href="https://www.materialsproject.org/docs/api">MAPI documentation</a>. For convenience,
        <a style="font-size:24; color: #fcb040" href="https://github.com/henniggroup/mpinterfaces">MPInterfaces</a> has built-in classes
        and tools to perform queries via the API in Python.
    </p>

    <p style="font-size: 24px; position: relative; top: 50px; left: 5%; width:90%; text-align: center;">
        <code style="font-family: Inconsolata; color: gray">{{ api_key }}</code>
    </p>
  </div>
	<script type="text/javascript">
	(function()
	{
		if(typeof(window.getComputedStyle) == 'undefined')
		{
			return;
		}

		var pre = document.getElementsByTagName('pre');

		for(var len = pre.length, i = 0; i < len; i ++)
		{
			var code = pre[i].getElementsByTagName('code').item(0);
			if(!code)
			{
				code = pre[i].getElementsByTagName('samp').item(0);
				if(!code)
				{
					continue;
				}
			}

			var column = document.createElement('div');
			column.setAttribute('aria-hidden', 'true');

			for(var n = 0; n < code.innerHTML.split(/[\n\r]/g).length; n ++)
			{
				column.appendChild(document.createElement('span'));
			}

			pre[i].insertBefore(column, code);
			pre[i].className = 'line-numbers';
		}

	})();
	</script>
{% endblock %}