{% extends 'home.html' %}
{% block apps %}
<style>

	/* general page styling and main column */
	html, body
	{
		margin:0;
		padding:0;

	    font:normal normal normal 100%/1.4 georgia, serif;
	}
	main
	{
		display:block;

		width:55%;
		min-width:18em;
		margin:2em auto;
	}

	figure
	{
		display:block;

		margin:1em 0;

		border:1px solid #ccc;
		border-radius:3px;

		background:#eee;
	}

	figure figcaption
	{
		display:block;

		padding:5px 10px 4px 10px;

		border-bottom:1px solid #ccc;
		border-radius:3px 3px 0 0;

		font-weight:bold;

		background:#ddd;
		color:#777;
	}



	pre, pre *
	{
		font:normal normal normal 1em/1.4 monaco, courier, monospace;
	}
	pre
	{
		font-size:0.8em;
	}
	pre, pre code, pre samp
	{
		display:block;
		margin:0;

		cursor:text;
	}
	pre code, pre samp
	{
		/* enforce white-space for IE7 */
		white-space:pre;

		/* enforce word-wrap for mobile safari */
		word-wrap:normal;

		padding:10px;

		-moz-tab-size:4;
		-o-tab-size:4;
		tab-size:4;

		overflow-x:auto;
	}

	/* additional focus rules to provide a visual cue */
	pre [contenteditable]:focus
	{
		border-radius:0 0 3px 0;

		background:#fff;

		outline:none;

		box-shadow:inset 0 1px 4px 1px rgba(0,0,0,0.5);
	}

	pre.line-numbers
	{
		position:relative;
	}
	pre.line-numbers code,
	pre.line-numbers samp
	{
		margin-left:3em;

		border-left:1px solid #ccc;
	}

	pre.line-numbers > div
	{
		display:block;

		position:absolute;
		top:0;
		left:0;

		height:100%;

		border-radius:0 0 0 3px;

		background:#e5e5e5;

		overflow:hidden;

		counter-reset:line;
	}

	pre.line-numbers > div > span
	{
		display:block;
		width:2.5em;
		padding:0 0.5em 0 0;

		text-align:right;

		color:#777;

		overflow:hidden;

		counter-increment:line;
	}
	pre.line-numbers > div > span::before
	{
		content:counter(line);
	}
	pre.line-numbers > div > span:first-child
	{
		margin-top:10px;
	}
	pre.line-numbers > div > span:nth-child(odd)
	{
		background:#dfdfdf;
	}

	@media print
	{
		pre code
		{
			overflow-x:visible;
			white-space:pre-wrap;
		}
		pre.line-numbers div
		{
			display:none;
		}
		pre.line-numbers > code,
		pre.line-numbers > samp
		{
			margin-left:0;
		}
	}



	/* double-up the syntax elements for cross-browser RTF-keystroke support */
	pre b, pre strong
	{
		font-weight:normal;
		color:#039;
	}
	pre u, pre u b, pre u strong
	{
		text-decoration:none;
		color:#083;
	}
	pre i, pre em, pre i *, pre em *, pre i * *, pre em * *
	{
		letter-spacing:-0.1em;
		text-decoration:none;
		font-style:normal;
		color:#c55;
	}
</style>
  <div style="position: relative; left : 5%; width : 90%;">
    <p style="font-size: 24px; position: relative; top: 0px;">
        The MaterialsWeb API is built on the <a style="font-size:24; color: #fcb040" href="https://www.materialsproject.org/open">Materials API (MAPI)</a>.
        The best way to access our database is through the MWRester class implemented in <a style="font-size:24; color: #fcb040" href="https://www.materialsproject.org/open">QuantumML</a>
        as shown below.
      <figure>
          <figcaption>Default</figcaption>
                 <pre aria-describedby="example1-description" aria-labelledby="example1-caption"><code
                         contenteditable="true" tabindex="0"
                         spellcheck="false"><b>from</b> quantumML.rest <b>import</b>b> MWRester
<b>with</b> MWRester() <b>as</b> mwr:
    mwr.get_calculation(<u>filter/s</u>)</code>
        </pre>
      </figure>
        and as a result can be interacted with in mostly similar ways to those described in the
        <a style="font-size:24; color: #fcb040" href="https://www.materialsproject.org/docs/api">MAPI documentation</a>. For convenience,
        <a style="font-size:24; color: #fcb040" href="https://github.com/henniggroup/mpinterfaces">MPInterfaces</a> has built-in classes
        and tools to perform queries via the API in Python.
    </p>

    <p style="font-size: 24px; position: relative; top: 50px; left: 5%; width:90%; text-align: center;">
        <code style="font-family: Inconsolata; color: gray">{{ api_key }}</code>
    </p>
  </div>
	<script type="text/javascript">
	(function()
	{
		if(typeof(window.getComputedStyle) == 'undefined')
		{
			return;
		}

		var pre = document.getElementsByTagName('pre');

		for(var len = pre.length, i = 0; i < len; i ++)
		{
			var code = pre[i].getElementsByTagName('code').item(0);
			if(!code)
			{
				code = pre[i].getElementsByTagName('samp').item(0);
				if(!code)
				{
					continue;
				}
			}

			var column = document.createElement('div');
			column.setAttribute('aria-hidden', 'true');

			for(var n = 0; n < code.innerHTML.split(/[\n\r]/g).length; n ++)
			{
				column.appendChild(document.createElement('span'));
			}

			pre[i].insertBefore(column, code);
			pre[i].className = 'line-numbers';
		}

	})();
	</script>
{% endblock %}