{% extends 'home.html' %}
{% block apps %}

    <p style="font-size: 24px; position: relative; top: 0px; left: 5%; width:90%;">
        The MaterialsWeb API is built on the <a style="font-size:24; color: #fcb040" href="https://www.materialsproject.org/open">Materials API (MAPI)</a>.
        The best way to access our database is through the MWRester class implemented in <a style="font-size:24; color: #fcb040" href="https://www.materialsproject.org/open">QuantumML</a>
        as shown below.
      <figure>
          <figcaption>Default</figcaption>
                  <pre class="line-numbers">
            <code>
                "
                from quantumML.rest import MWRester
                    with MWRester() as mwr:
                    mwr.get_calculation(*filter/s*)
                "
            </code>
        </pre>

      </figure>
        and as a result can be interacted with in mostly similar ways to those described in the
        <a style="font-size:24; color: #fcb040" href="https://www.materialsproject.org/docs/api">MAPI documentation</a>. For convenience,
        <a style="font-size:24; color: #fcb040" href="https://github.com/henniggroup/mpinterfaces">MPInterfaces</a> has built-in classes
        and tools to perform queries via the API in Python.
    </p>
    <p style="font-size: 24px; position: relative; top: 50px; left: 5%; width:90%; text-align: center;">
        <code style="font-family: Inconsolata; color: gray">{{ api_key }}</code>
    </p>

{% endblock %}