{% extends 'home.html' %}
{% block apps %}
  <h2>Upload</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>POSCAR_sub</p>
      <input type="file" name="user_input_1" id="user_input_1">
      <p>POSCAR_twod</p>
      <input type="file" name="user_input_2" id="user_input_2">
      <p>Area (Angstrom)</p>
      <input type="text" name="user_area" value="20" id="user_area">
      <p>Strain (%)</p>
      <input type="text" name="user_strain" value="10" id="user_strain">
      <button type="submit">Submit</button>
  </form>
<p>{{  data  }}</p>
{% endblock %}
