{% extends 'home.html' %}
{% block apps %}
  <h2>Upload</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="user_input_1" id="user_input_1">
      <label for="user_input_1">POSCAR_sub</label>
      <label for="user_input_2">POSCAR_twod</label>
      <input type="file" name="user_input_2" id="user_input_2">
      <label for="user_area">Area</label>
      <input type="text" name="user_area" value="20" id="user_area">
      <label for="user_strain">Area</label>
      <input type="text" name="user_strain" value="10" id="user_strain">
      <button type="submit">Submit</button>
  </form>
<p>{{  data  }}</p>
{% endblock %}
