{% extends 'home.html' %}
{% load static %}
{% static "" as baseUrl %}
{% block apps %}

    <script type="text/javascript" src="{% static 'javascript/3Dmol/jquery.js' %}">
    </script>
    <script>
        function download(filename, text) {
          var element = document.createElement('a');
          element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
          element.setAttribute('download', filename);

          element.style.display = 'none';
          document.body.appendChild(element);

          element.click();

          document.body.removeChild(element);
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "parallax.js" %}"></script>
    <script src="{% static 'javascript/3Dmol/3Dmol-nojquery-min.js' %}"></script>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p>POSCAR 1</p>
          <input type="file" name="user_input_1" id="user_input_1">
          <p>POSCAR 2</p>
          <input type="file" name="user_input_2" id="user_input_2">
          <p>Area (Angstrom^2)</p>
          <input type="text" name="user_area" value="20" id="user_area">
          <p>Strain (%)</p>
          <input type="text" name="user_strain" value="10" id="user_strain">
          <button type="submit" id="submit" name="submit">Submit</button>
          <div id="Structure_info" style="position: absolute; left: 1200px; top: 220 px;">
            <button type="submit" id="next" name="next">Next</button>
            <p>Stucture {{ page_c }} of {{ page_t }}</p>
            <p>Strain U = {{ strain_u }} (%)</p>
            <p>Strain V = {{ strain_v }} (%)</p>
            <p>Area = {{ Area }} (Angstrom^2)</p>
          </div>
      </form>
      <form onsubmit="download(this['name'].value, this['text'].value)">
          <input type="text" name="name" value="POSCAR" style="display:none">
          <textarea name="text" style="display:none;">{{ download }}</textarea>
          <button type="submit" value="Download" style="position: relative; left: 1280px;">Download</button>
      </form>
    <div id="3Dmolborderdivsub" style="width: 425px; height: 425px;
    position: absolute; border: 1px solid black;
    border-radius: 3px; left: 330px; top: 180px;">
        <div id="3Dmoldivsub" style="width: 420px; height: 420px; position: relative;"></div>

    </div>
        <script>
          (function() {
            var viewer = $3Dmol.createViewer($("#3Dmoldivsub"));
            var data = "{{  structure_1  }}"
            viewer.setBackgroundColor(0xffffff);
            viewer.addModel(data, "xyz");
            viewer.setStyle({}, {sphere:{}, line:{}});
            viewer.zoomTo();
            viewer.render();
          })();
        </script>

    <div id="3Dmolborderdiv2d" style="width: 425px; height: 425px;
    position: absolute; border: 1px solid black;
    border-radius: 3px; left: 765px; top: 180px;">
      <div id="3Dmoldiv2d" style="width: 420px; height: 420px; position: relative;"></div>
    </div>
        <script>
          (function() {
            var viewer = $3Dmol.createViewer($("#3Dmoldiv2d"));
            var data = "{{  structure_2  }}"
            viewer.setBackgroundColor(0xffffff);
            viewer.addModel(data, "xyz");
            viewer.setStyle({}, {sphere:{}, line:{}});
            viewer.zoomTo();
            viewer.render();
          })();
        </script>
    <div id="3Dmolborderdivresult" style="width: 425px; height: 425px;
    position: absolute; border: 1px solid black;
    border-radius: 3px; left: 1200px; top: 180px;">
        <div id="3Dmoldivresult" style="width: 420px; height: 420px; position: relative;">
        </div>
    </div>


        <script>
          (function() {
            var viewer = $3Dmol.createViewer($("#3Dmoldivresult"));
            var data = "{{  structure_3  }}"
            viewer.setBackgroundColor(0xffffff);
            viewer.addModel(data, "xyz");
            viewer.setStyle({}, {sphere:{}, line:{}});
            viewer.zoomTo();
            viewer.render();
          })();
        </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85193239-1', 'auto');
      ga('send', 'pageview');

    </script>
{% endblock %}

