{% load static %}

<body onload="displayResults();">
  <div id="TopBar" style="background-color: white; position: absolute; top: 0; height: 125px; width: 100%; opacity: 0.9;"></div>

    <div id="HomePageHeaderBox">

        <a href="/">
            <img src="{% static "Images/Icon.png" %}" id="Icon" style="display: inline; width: 102; height: 115; position: relative; top: 2px; left: 42px;"/>
        </a>
        <h1 id="HomePageHeader">2D Materials</h1>
        <div id="Menu">

        </div>
    </div>


    <script>
    function displayResults() {
        alert("ACT");
        var all_results = {{ all_results }};
        var table = document.getElementById("tableBody");

        if (all_results.length) {

          for ( var i=0, len = all_results.length; i < len; i++ ) {
            new_option = document.createElement("a");
            formula = all_results[i].split(" ")[0];
            mwid = all_results[i].split(" ")[1];
            spacegroup = all_results[i].split(" ")[2];
            numSites = Number(all_results[i].split(" ")[3]);
            bandGap = Number(all_results[i].split(" ")[4]);
            theoryLevel = all_results[i].split(" ")[5];

            new_option.id = mwid;
            var optionText = document.createTextNode(mwid);
            new_option.appendChild(optionText);
            new_option.href = "/twodmaterials/result/" + new_option.id;
            new_option.target = "_blank";
            new_option.style.color = "white";
            new_option.addEventListener("mouseover", function (ev) {ev.target.style.color = "#fcb040"});
            new_option.addEventListener("mouseout", function (ev) {ev.target.style.color = "white"});

            var row = document.createElement("tr");
            table.appendChild(row);
            var mwidCell = document.createElement("td");
            row.appendChild(mwidCell);
            mwidCell.style.width= '150px';
            var formulaCell = document.createElement("td");
            row.appendChild(formulaCell);
            var spacegroupCell = document.createElement("td");
            row.appendChild(spacegroupCell);
            var numSitesCell = document.createElement("td");
            row.appendChild(numSitesCell);
            var bandGapCell = document.createElement("td");
            row.appendChild(bandGapCell);
            var theoryLevelCell = document.createElement("td");
            row.appendChild(theoryLevelCell);

            mwidCell.appendChild(new_option);
            formulaCell.innerHTML = formula;
            spacegroupCell.innerHTML = spacegroup;
            numSitesCell.innerHTML = numSites;
            bandGapCell.innerHTML = bandGap;
            theoryLevelCell.innerHTML = theoryLevel;

            var tds = document.getElementsByTagName('td');

//            for (var j = 0; j < tds.length; j++)
//                tds[j].style.width = '150px';

          }
        } else {
            document.getElementById('noResultsModal').style.display = "block";
        };
    }
    </script>


    <table data-sortable class="sortable-theme-dark" style="position: relative; top: 450px; left: 50px;">
      <thead>
        <tr>
            <th style="cursor: pointer; width: 100px;">Material ID</th>
            <th style="cursor: pointer; width: 120px;">Formula</th>
            <th style="cursor: pointer; width: 150px;">Spacegroup</th>
            <th style="cursor: pointer; width: 120px;"># Atoms</th>
            <th style="cursor: pointer; width: 150px;">Band Gap (eV)</th>
            <th style="cursor: pointer; width: 100px;">XC Level</th>
        </tr>
      </thead>
      <tbody id="tableBody">
      </tbody>
    </table>

    <form method="post">{% csrf_token %}
        <input type="text" id="FormulaBox" name="FormulaBox" class="formulabox"
            placeholder="'Ca-I', 'V2O5', 'mw-40', or mpquery">
        <input type="submit" value="Submit" name="Submit" id="Submit">
    </form>
    <!-- Trigger/Open The Modal -->
    <button id="Help">[Help]</button>
    <a id="Templates" href="/twodmaterials/templates"
     style="position: absolute; color: #fcb040; top: 149px; left: 800px; font-size: 30px;">[Templates]</a>

    <!-- The Modal -->
    <div id="helpModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" id="closeHelp">X</span>
        <p>There are several ways to query the database:</p>
        <p>1. Click on elements to search for a general composition</p>
        <p>2. Enter a specific formula</p>
        <p>3. Enter a material id (mw-####)</p>
        <p>4. Enter an mpquery (dictionary-style search). For example, entering
          {} will return all materials in the database. Entering
          {'elements':{'$in':['Y']}} will return all materials that contain Y.
          Please see the <a style="color: #fcb040; font-size: 16;" target="_blank" href="https://github.com/materialsproject/mapidoc">
          Materials Project API documentation</a> for more details on the
          mpquery syntax.</p>
      </div>
    </div>

    <div id="noResultsModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" id="closeNoResults">X</span>
        <p>No results found.</p>
      </div>
    </div>

    <script>
    // Get the modal
    var helpModal = document.getElementById('helpModal');
    var noResultsModal = document.getElementById('noResultsModal');

    // Get the button that opens the modal
    var helpBtn = document.getElementById("Help");

    // Get the <span> element that closes the modal
    var closeHelp = document.getElementById("closeHelp");
    var closeNoResults = document.getElementById("closeNoResults");

    // When the user clicks on the help button, open the help modal
    helpBtn.onclick = function() {
        helpModal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    closeHelp.onclick = function() {
        helpModal.style.display = "none";
    }
    closeNoResults.onclick = function() {
        noResultsModal.style.display = "none"
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == helpModal) {
            helpModal.style.display = "none";
        }
        else if (event.target == noResultsModal) {
            noResultsModal.style.display = "none"
        }
    }
    </script>

    <form id="FinalForm" method="post">{% csrf_token %}
      <input type="text" id="FinalSelection" name="FinalSelection" style="display: none"/>
    </form>

    <div id="Footer"><div>

    <script src="{% static 'javascript/install.js' %}"></script>
    <script src="{% static 'javascript/sortable.js' %}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85193239-1', 'auto');
      ga('send', 'pageview');

    </script>


</body>
